/************
Table Style
*************/

.table-responsive{
    height:calc(100vh - 246px);
    min-width: 700px;
}
.table-overflow{
    overflow-x: auto;
}
#cxu-table{
    
}
#cxu-table thead tr th{
    border:0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0.8rem 0.8rem;
}
#cxu-table tbody tr{
    border:0;
    background-color: #ffffff;
    box-shadow:0 4px 16px 0 rgba(0,0,0,.025);
    font-size: 14px;
    border-bottom: 5px solid #f3f3f3;
}
#cxu-table tbody tr:nth-last-child(1){
    border-bottom:0px solid #fafafa;
}
#cxu-table tbody tr td{
    border:0;
    padding: 0.8rem 0.8rem;
}
#cxu-table tbody tr td button{
    background:transparent;
    border:0;
    color:#49C5B6;
    font-weight:bold;
    text-transform: uppercase;
    padding:0;
    letter-spacing: 1.5px;
}



.cx-para{
    width:250px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom:0;
    position:relative;
    cursor:pointer;
}
.cx-para-popup{
    position: absolute;
    top:30px;
    left:0px;
    right:0;
    margin:auto;
    background:#ffffff;
    box-shadow: 0 4px 16px 0 rgba(148, 119, 119, 0.15);
    padding:15px;
    width:250px;
    border-radius:15px;
    display:none;
}
.cx-text-data{
    position: relative;
    width:250px;
}
.cx-text-data::before {
    content:'';
    position:absolute;
    top:25px;
    left:0;
    right:0;
    margin:auto;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #49C5B6;
    display:none;
}
  
.cx-para-popup p{
    margin-bottom:0;
}
.cx-text-data.cx-block .cx-para-popup{
    display:block;
}
.cx-text-data.cx-block::before {
    display:block;
}


#cxu-table ul li{
    display: inline-block;
    margin-right:10px;
    background:#DAF5F2;
    border-radius:5px;
    height:30px;
    width:30px;
    line-height:30px;
    text-align: center;
}
#cxu-table ul li i{
    color:#49C5B6;
}