
/************ Content *************/


.cxd-card{
    background-color: #ffffff;
    padding:30px;
    border-radius:10px;
    color:#2C2C36;
    position: relative;
    cursor:pointer;
    position: relative;
    box-shadow:0 10px 35px 0 rgba(0,0,0,.05);
}

.cxd-card svg{
    position: absolute;
    fill:#2C2C36 !important;
    top:30px;
    right:30px;
    width:36px;
    height:36px;
}


@media(max-width:991px){
    .cxd-card{
        margin-bottom:30px;
    }
}