/************ 
LOGIN STYLE 
*************/


/************ Outer *************/
.cx-login{
    width:inherit;
    height: inherit;
    letter-spacing: .7px;
}
.cx-login .row{
    height:100%;
}


/************ Graphic *************/
.cx-login-graphic{
    height:100%;
    background-image: url('../images/login/login_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.cx-brand{
    text-align: center;
}
.cx-login-text{
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    bottom:50px;
    height: 150px;
    padding: 30px;
    text-align: left;
}
.cx-login-text img{
    width:200px;
    margin-bottom:30px;
    display: inline-block;
}

.cx-login-text p{
    color:#ffffff;
    font-size: 20px;
}



/************ Content *************/
.cx-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.cx-login-content{
    width:500px;
    background:#ffffff;
    box-shadow:0 0 30px 0 rgba(0,0,0,.1);
    border-radius:15px;
    padding:30px;
    height:400px;
}
.cx-login-content-in{
    width:100%;
}
.cx-login-content-in form{
    width:100%;
}
.cx-login-content .cx-brand-img{
    width:200px;
    margin-bottom:30px;
}

.cx-login-content .form-control{
    border:1px solid #C5D7E0;
}
.cx-login-content button{
    width:100%;
    background:#49C5B6;
    color:#ffffff;
    font-family: 'barlowbold';
    letter-spacing: 1.5px;
    border-radius: 5px;
    border:0;
    height:44px;
    font-weight: bold;
}

.cx-input-icon{
    position: absolute;
    right:15px;
    top:42px;
    height:18px;
    width:18px;
}

@media(max-width:991px){
    .cx-login-form{
        height:auto;
    }
    .cx-login-content{
        margin:30px;
    }

}