/************ STYLE *************/
#cx-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.025);
  padding: 15px;
  padding-top: 0;
  width: 250px;
  transition: all 0.5s ease;
  white-space: nowrap;
  z-index: 1010;
}
.cx-list li {
  margin-bottom: 15px;
  font-size: 16px;
  position: relative;
}
.cx-list li a {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
  background: #fafafa;
  position: relative;
}
.cx-list li a .cx-list-c {
  position: absolute;
  top: -2px;
  left: 12px;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
}
.cx-list li a .cx-list-c i {
  margin-right: 7px;
}
.cx-list li a span {
  width: 0;
  opacity: 1;
  transition: all 0.3s;
  position: relative;
  top: -2px;
}
.cx-list li.cx-nav-active a {
  background: #49c5b6;
  color: #ffffff !important;
}
.active-menu-sidebar {
  background: #49c5b6 !important;
  color: #ffffff !important;
}
.cx-sidebar-brand {
  height: 60px;
  line-height: 60px;
}
.cx-sidebar-brand a .cx-brand-icon {
  width: 150px;
  height: 42px;
  margin-right: 0;
}
.cx-list li .cx-tooltip {
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -137px;
  width: 115px;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  opacity: 0;
}
.cx-tooltip::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #49c5b6;
}
.cx-list li:hover .cx-tooltip {
  opacity: 1;
}
.cx-list li .cx-tooltip:hover {
  opacity: 0;
}
.mobile-bars{
    display: none;
}
@media (max-width: 991px) {
    .mobile-bars{
        margin-right: 10px;
        display: block;
    }
  .cx-sidbar-open {
    left: 0 !important;
  }

  #cx-sidebar {
    margin-top: 60px;
    left: -250px;
  }
  .cx-sidebar-brand {
    display: none;
  }
  .cx-list {
    margin-top: 15px !important;
  }
  .cx-tooltip {
    display: none;
  }
  .navbar-toggler{
    display: none;
  }
}

/************ TOGGLER *************/
#cx-sidebar-toggler {
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  line-height: 60px;
  margin-bottom: 15px;
}
#cx-sidebar-toggler button {
  height: 60px;
  width: 40px;
}
#cx-sidebar-toggler button svg {
  fill: #aaaaaa !important;
}
#cx-sidebar-toggler button:hover svg {
  fill: #1d9ad7 !important;
}
#cx-sidebar-toggler.cx-active button {
  justify-content: right;
  display: block;
  width: 100%;
  transform: rotate(180deg);
}

@media (max-width: 991px) {
  .cx-sidebar-toggler {
    display: none;
  }
}

/************ ACCOUNT *************/
.cx-account img {
  width: 36px;
  height: 36px;
}

/************ Active *************/
#cx-sidebar.cx-active {
  width: 70px;
}
#cx-sidebar.cx-mactive {
  left: 0;
}
.cx-list.cx-active li a {
  text-align: left;
}
.cx-list.cx-active li a .cx-list-c {
  right: unset;
  left: 12px;
}
.cx-sidebar-brand.cx-active a .cx-brand-logo {
  width: 24px;
  opacity: 1;
}
.cx-list.cx-active li a span {
  width: 100%;
  opacity: 0;
}
.cx-sidebar-brand.cx-active {
  text-align: left;
}
.cx-sidebar-brand.cx-active a .cx-brand-icon {
  margin-right: 15px;
}
.cx-list.cx-active li .cx-tooltip {
  display: none;
}
.cx-sidebar-brand.cx-active a .cx-brand-icon {
  height: 30px;
}
