/************ STYLE *************/

html{
    height:100%;
    width:100%;
}
body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background:#f7f7f7 !important;
    font-size:16px;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    color:#2C2C36;
}
main{
    position: relative;
    z-index: 1009;
}
.cx-container{
    margin-left:250px;
    transition:all .5s ease;
    padding:30px;
    position: relative;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(29, 154, 215, .25) !important;
    border-color: #49C5B6 !important;
}
a{
    text-decoration: none !important;
    color:#49C5B6;
}
a:hover{
    color:#49C5B6;
}
ul{
    padding:0 !important;
    margin:0 !important;
}
li{
    list-style: none;
}

@media(max-width:991px){
    .cx-container{
        margin-left:0 !important;
    }
}


/************ PAGINATION STYLE *************/
#cx-pagination{
    position:fixed;
    bottoM:30px;
    right:30px;
    background:#ffffff;
    box-shadow:4px 0 16px 0 rgba(0,0,0,.025);
    border:0;
}
#cx-pagination ul li a{
    border:0 !important;
}
#cx-pagination ul li a:focus{
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}


/************ SCROLLBAR *************/
.simplebar-scrollbar::before{
    background-color:#49C5B6 !important;
}
::-webkit-scrollbar {
    display: none;
}





/************ BUTTON *************/
.cx-add-btn{
    position: absolute;
    right:15px;
    top:10px;
}
.cx-btn-grp{
    display:flex;
    justify-content: end;
    margin-bottom:20px;
}
.cx-btn-grp .cx-btn{
    padding:5px 25px;
}
.cx-btn{
    background:#EBF8FD;
    color:#49C5B6;
    transition:all .5s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius:5px;
    font-weight: 600;
    font-size: 14px;
    border:0;
    border:1px solid #EBF8FD;
}
.cx-btn-bordered{
    background:transparent;
    color:#49C5B6;
    transition:all .5s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius:5px;
    font-weight: 600;
    font-size: 14px;
    border:0;
    border:1px solid #EBF8FD;
}
.cx-btn-bordered:hover{
    background:#49C5B6;
    color:#ffffff;
}
.cx-add-btn button{
    border:1px dashed #49C5B6;
    padding:7px 15px;
    height:38px;
}
.cx-add-btn button i{
    position: relative;
    top: 3px;
    left: -3px;
    font-size:18px;
}
.cx-add-btn button.cxc-add-folder{
    padding:7px;
    width:38px;
    margin-left:10px;
}
.cx-add-btn button.cxc-add-folder i{
    left: 1px;
}


.cx-btn:hover{
    background:#49C5B6;
    border:0;
    color:#ffffff;
    border:1px solid #49C5B6;
}
.navbar-toggler:focus{
    box-shadow:0 0 0 0;
}
input:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

.cx-container-inactive{
margin-left: 70px !important;
}